@model IEnumerable<ProductVM>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Product";
    var detailsRoute = "/Product/Details/{0}";

    bool isUserAuth = (HttpContextAccessor.HttpContext.User != null) && (HttpContextAccessor.HttpContext.User.Identity != null) && HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    var name = "";
    if (isUserAuth) {
        name = HttpContextAccessor.HttpContext.User.FindFirst("UserName").Value;
    }
}

@if (isUserAuth && name == "admin")
{
<div class="row mb-2 mt-2 operationsButtons">
    <div class="col-md-12">
        <a href="/Product/New" class="btn btn-new btn-outline-new font-weight-bold mr-2" data-toggle="tooltip" title="New" data-placement="top">
            <span class="fa fa-plus-circle"></span>
        </a>

        <button class="btn btn-outline-dark font-weight-bold mr-2" data-toggle="tooltip" title="Edit" data-placement="top" onclick="Product.onEditBtnPress()">
            <span class="fa fa-edit"></span>
        </button>

        <button type="button" class="btn btn-delete btn-outline-delete font-weight-bold mr-2" id="btnDelete" data-toggle="tooltip" data-placement="top" title="Delete" onclick="Product.onDelete()">
            <span class="fa fa-trash"></span>
        </button>
    </div>
</div>
}

<br />
<br />

<table id="table" class="table table-hover table-striped">
    <thead>
        <tr>
            <th hidden>Product Id</th>
            <th hidden>Image</th>
            <th hidden>Product name</th>
            <th hidden>Price</th>
            <th hidden>Is in stoc</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td hidden>@item.Id</td>
                <td><img style="width: auto; height: 150px;" src="~/@item.ImagePath" alt="nu exista imagine momentan" /></td>
                <td>@item.Name</td>
                <td>@item.Price €</td>
                <td hidden><input type="checkbox" checked="@item.IsAvailable" /></td>
                <td><a href="@string.Format(detailsRoute, item.Id)" class="btn pull-right btn-outline-info">View Details</a></td>
            </tr>
        }

    </tbody>

</table>
